<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ciudad Data</title>
        <link rel="stylesheet" href="Inicio.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    </head>

    <header> Ciudad Data </header>

    <body>
        <div class="inicio-container">

            <a href="./Login.html" class="user-login-icon" title="Ir al Login">
            <span class="user-text">Usuario</span>
            <i class="fas fa-user-circle"></i>
            </a>

            <h2>Inicio</h2>
            <br>

            <p class="intro-text">Elige qué mundo exploraremos hoy</p>
            
            <div class="button-group">
                <button type="button" class="btn-api" id="api1">API 1</button>
                <button type="button" class="btn-api" id="api2">API 2</button>
            </div>
            
            
        </div>
    </body>

    <footer>
        <p>@Copyright - Marco Di Mare, Rosanna Arcia, Adrian Berbesi    </p>
    </footer>
</html>