* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
}

html {
    background-color: rgb(44, 44, 44);
}


header {
    background: url('images/Ciudad.png');
    background-size: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% 0%;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    -webkit-text-stroke: 0.5px rgb(39, 52, 64);
    z-index: 100;
    width: 100%;
    height: 22%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}


div.login-container {
    margin: 4.63% auto;
    display: flex;
    justify-content: center;
    height: 350px;
}

form.login-form {
    background-color: white;
    width: 32%;
    height: 350px;
    border-radius: 30px;
    padding: 20px 50px;
    line-height: 1.4;
    box-shadow: 30px 30px 20px rgba(0,0,0,0.3);
}

form h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

form label {
    font-size: 18px;
    font-weight: 900;
}

form input {
    width: 100%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    border-bottom-width: 3px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}

form input:hover {
    background-color: rgb(247, 247, 247);
}

div.btn-and-singup {
    margin-top: 20px;
    text-align: center;
}

div.btn-and-singup button {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(44, 44, 44);
    background-color: rgb(39, 52, 64);
    color: white;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}

div.btn-and-singup button:hover {
    background-color:rgb(52, 68, 83);
}

div.btn-and-singup a {
    text-decoration: none;
    color: rgb(54, 54, 255);
}

div.btn-and-singup a:hover {
    text-decoration: none;
    color: rgb(119, 119, 255);
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: black;
    color: white;
    font-size: 14px;
}
