* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk';
    line-height: 1.35;
}

html {
    background-color: rgb(44, 44, 44);
}


header {
    background: url('images/Ciudad.png');
    background-size: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% 0%;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.3);
    -webkit-text-stroke: 0.5px rgb(39, 52, 64);
    z-index: 100;
    width: 100%;
    height: 22%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
}

body h1 {
    margin-top: 15px;
    color: whitesmoke;
    text-align: center;
}

body p{
    margin-top: 10px;
    color: whitesmoke;
    text-align: center;
}

div.div-reportes {
    height: 350px;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-style: solid; 
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 20px 20% 3px 20%;
    padding: 5px 20px;
}

div.div-reportes::-webkit-scrollbar {
    width: 10px; 
}


div.div-reportes::-webkit-scrollbar-track {
    background: rgb(25, 25, 25); 
    border-radius: 10px;
    margin: 10px; 
}


div.div-reportes::-webkit-scrollbar-thumb {
    background: rgb(0, 190, 0); 
    border-radius: 10px;
}


div.div-reportes::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 255, 0); 
    box-shadow: 0 0 10px rgb(0, 254, 0); 
}

div.div-reportes p {
    text-align: left;
    color: rgb(0, 254, 0);
    line-height: 1.1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: black;
    color: white;
    font-size: 14px;
}
